body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;

}
/* footer and header*/
header {
    background-color: #ff7b00;
    color: #200527;
}


header img {
    margin-right: 10px;
    filter: drop-shadow(5px 5px 5px brown);
}

#headtitle {
    margin-left: 25px;;
    font-size: 45px; 
}

h1 {
    font-family: "Ubuntu", sans-serif;;
    text-align: center;
    font-weight: normal;
}

#titledescription {
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav  {
    display: grid;
    grid-template-rows: 0fr; 
    transition: grid-template-rows 0.5s ease-out; 
}

nav ul {
    overflow: hidden;
    list-style-type: none;
}

nav.open {
	grid-template-rows: 1fr;
}

nav a {
    display: block;
    color: #5e0075;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    
}

nav a:hover {
    text-decoration: underline; 
}

.active {
    color: rgb(177, 0, 0);
}

#menu {
	font-size: 2rem;
	border: 0;
	background: none;
	color: #7c0000;
	position: absolute;
	top: 1rem;
	right: 1rem;
    font-weight: 700;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

footer {
    margin-top: 20px;
    padding: 15px;
    background-color: #ff7b00;
    color: #5e0075;
}

footer p {
    margin: 5px;
    font-size: 14px;
    color: #5e0075;
}

#icons{
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#icons img{
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

/* main */
#container-hero{
    margin-top: 20px;
    text-align: center;
}

#container-hero a{
    color: #5e0075;
}

#hero {
    position: relative;
    display: inline-block;
}
  
.background-image img {
    width: 100%;
    height: auto;
}
  
#join {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 20px 40px;
    background-color: #ff7b00;
    color: #5e0075;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
}
  
#join:hover {
    background-color: #ffee00;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    background-color: #ff7b00;
    color: #5e0075;
    font-family: "Ubuntu", sans-serif;;
    text-align: center;
    font-weight: normal;
}

#weather-section{
    display: grid;
    grid-template-columns: 40% 60%;
}

#weather-icon{
    margin: auto;
}

section {
    background-color: #f9f9f9;
    border-radius: 10px;
    border-color: #50111e;
    box-shadow: 0px 4px 8px rgba(65, 0, 0, 0.712);
    padding: 10px;
    margin-bottom: 20px;
    animation-duration: 1.5s;
    animation-name: slidein;
  }

@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

#companiesd {
    margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 15px;
    place-items: center;
	align-items: center;
    max-width: 1200px;
}

#companies-section{
    display: grid;
    grid-template-columns:30% 70%;
}

  @media screen and (min-width: 640px) {

    header, nav, main, footer {
        margin:auto;
    }

    nav ul {
		display: flex;
	}

	nav ul li {
		flex: 1 1 100%;
	}
    #menu {
		display: none; 
	}

    header, footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #titledescription {
        margin-left: 150px;
    }

    nav {
        grid-template-rows: 1fr;
        margin-right: 150px;
    }

    footer div{
        margin: auto;
    }

    .events {
        margin: auto;
        display: grid;
        grid-template-columns: 50% 25% 22%;
        gap: 20px;
        padding: 20px;
        max-width: 1200px;
    }
    
}